<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../opcP5/public/styles/bootstrap-4/favicon.ico">


    <!-- Bootstrap core CSS -->
    <link href="../../opcP5/public/styles/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../opcP5/public/styles/jumbotron.css" rel="stylesheet">
</head>

<body>
<div class="header">
    <div class="top-header">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">LSM OPCR P5</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item {{ activeClass('index')}}">
                        <a class="nav-link" href="index.php?p=posts.index">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {{ activeClass('contact')}}">
                        <a class="nav-link" href="index.php?p=contact.index">Contact</a>
                    </li>
                    <li class="nav-item {{ activeClass('admin')}}">
                        <a class="nav-link" href="index.php?p=admin.posts.index">Admin</a>
                    </li>
                    <li class="nav-item {{ activeClass('login')}}">
                        <a class="nav-link" href="index.php?p=users.login">Connexion</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Blog en construction</h1>
        <p>Ici se conçoit mon premier blog. Something very unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus &raquo;</a></p>
    </div>
</div>


<div class="container">
    <!-- Example row of columns -->


    {% block content %}{% endblock %}


    <hr>

    <footer>
        <p>&copy; LSM OPCR P5 Company 2017</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script>window.jQuery || document.write('<script src="../opcP5/styles/jquery/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../opcP5/public/styles/assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>