{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-10">
            {% block main %} {% endblock %}
        </div>
        <div class="col-md-2 text-uppercase list-group-item-dark">
            <br/>
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>

{% endblock content %}