{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block head %}
    <title>Se connecter</title>
{% endblock %}

{% block content %}
{% block main %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                 <h1 class="font-weight-bold text-center text-uppercase display-4">Connexion</h1>
            </div>
        <div class="row-fluid">
            <div class="col-md-12 text-center">
                <form method="post">
                {% if errors %}
                <div class="alert alert-danger">
                    Identifiants incorrects
                </div>
                {% endif %}
                    <div class="form-group">
                        {{ form.input('username', 'Login', name, {type: 'text'}) }}
                        {{ form.input('password', 'Mot de passe', password, {type: 'password' }) }}
                        <div class="col-md-12">
                        {{ form.button('Envoyer', {type: 'submit'}) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% endblock content %}

             {#      <label>Login: <input name="username" type="text"></label>
                       <label>Mot de passe: <input name="password" type="password"></label>
                        <button class="btn btn-primary" type="submit">Envoyer</button>#}