{% extends 'default.html.twig' %}


{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block body %}

{% block content %}

    <h1 class="text-uppercase text-center font-weight-bold">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius ipsum diam, sed lacinia Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius ipsum diam, sed lacinia Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius ipsum diam, sed laciniaLorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius ipsum diam, sed lacinia risus egestas non. Nulla ullamcorper vitae libero sit amet sodales. Etiam eget luctus nisl. Vivamus malesuada egestas mauris, ut vestibulum dui venenatis a. Aenean nibh massa, rhoncus id feugiat eget, egestas ac nibh. In quis gravida urna. Phasellus lacinia velit id nisi porttitor sagittis. Praesent in nulla aliquam, accumsan enim blandit, euismod nisi. Phasellus eget venenatis lorem. Aenean egestas sagittis purus, ut aliquam nisl. Nullam dictum vehicula aliquet. Ut sit amet ipsum in ligula lobortis hendrerit. Cras tincidunt dictum neque, id malesuada tellus. Morbi ullamcorper nulla nec dictum volutpat.
        Phasellus fermentum leo ut neque feugiat, eu viverra ante consequat. Donec eget nunc mauris. Aenean eleifend hendrerit finibus. Sed enim diam, congue in enim id, fermentum viverra mauris. Maecenas scelerisque urna in arcu semper vestibulum. In cursus justo sed tempus tincidunt. Etiam vehicula sapien ut odio aliquam, id euismod elit volutpat. Nam eget mauris ac sem feugiat hendrerit sed rhoncus purus.
    </p>


        <h1 class="text-uppercase">Contactez-Moi</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius ipsum diam, sed lacinia risus egestas non. Nulla ullamcorper vitae libero sit amet sodales. Etiam eget luctus nisl. Vivamus malesuada egestas mauris, ut vestibulum dui venenatis a. Aenean nibh massa, rhoncus id feugiat eget, egestas ac nibh. In quis gravida urna. Phasellus lacinia velit id nisi porttitor sagittis. Praesent in nulla aliquam, accumsan enim blandit, euismod nisi. Phasellus eget venenatis lorem. Aenean egestas sagittis purus, ut aliquam nisl. Nullam dictum vehicula aliquet. Ut sit amet ipsum in ligula lobortis hendrerit. Cras tincidunt dictum neque, id malesuada tellus. Morbi ullamcorper nulla nec dictum volutpat.
            Phasellus fermentum leo ut neque feugiat, eu viverra ante consequat. Donec eget nunc mauris. Aenean eleifend hendrerit finibus. Sed enim diam, congue in enim id, fermentum viverra mauris. Maecenas scelerisque urna in arcu semper vestibulum. In cursus justo sed tempus tincidunt. Etiam vehicula sapien ut odio aliquam, id euismod elit volutpat. Nam eget mauris ac sem feugiat hendrerit sed rhoncus purus.
        </p>

    <form id="form" name="mail" method="post" action="../../email.php">
    <div class="form-group fa-wpforms">
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw">Nom:</i></span>
            <input id="name" name="name" class="form-control" type="text" placeholder="Votre nom">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw">Prénom:</i></span>
            <input id="firstname" name="firstname" class="form-control" type="text" placeholder="Votre prénom">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-mail fa-fw">Adresse E-mail:</i></span>
            <input id="email" name="email" class="form-control" type="email" placeholder="Votre E-mail">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw">Objet :</i></span>
            <input id="subject" name="subject" class="form-control" type="text" placeholder="Objet du message">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw">Message:</i></span>
            <textarea id="message" name="message"  class="form-control" type="text" placeholder="Votre message"></textarea>
        </div>
        <br>
        <div class="input-group">
                <input type="submit" name="submit" value="Envoyer">
        </div>
    </div>
    </form>

{% endblock %}
{% endblock body %}