{% extends 'default.html.twig' %}


{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block body %}

{% block content %}

    <h1 class="text-uppercase text-center font-weight-bold">Welcome</h1>
    <p>
         um. In cursus justo sed tempus tincidunt. Etiam vehicula sapien ut odio aliquam, id euismod elit volutpat. Nam eget mauris ac sem feugiat hendrerit sed rhoncus purus.
    </p>


        <h1 class="text-uppercase">Me contacter</h1>

        <p><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; LOHORE SAKHO MOHAMED</p>
        <p><i class="fa fa-address-card-o fa-fw" aria-hidden="true"></i>&nbsp; 9 Rue saint sauveur, 27000 Evreux</p>
        <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; Tel : 07 81 85 61 36</p>


        <p>Pour vos projets ou question, merci de me contacter en utilisant le forumaire ci-dessous. Je vous répondrai dans les plus brefs délais.</p>

    <form id="form" name="mail" method="post" action="email.php">
    <div class="form-group">
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
            <input id="name" name="name" class="form-control" type="text" placeholder="Votre nom">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
            <input id="firstname" name="firstname" class="form-control" type="text" placeholder="Votre prénom">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
            <input id="email" name="email" class="form-control" type="email" placeholder="Votre E-mail">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i></span>
            <input id="subject" name="subject" class="form-control" type="text" placeholder="Objet du message">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></span>
            <textarea id="message" name="message"  class="form-control" type="text" placeholder="Votre message"></textarea>
        </div>
        <br>
        <div class="input-group">

            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Envoyer</button>

        </div>
    </div>
    </form>

{% endblock %}
{% endblock body %}