{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block head %}
    <title>Edition</title>
{% endblock %}

{% block body %}


    {% block content %}
        <div class="container-fluid">
        <h1>Ajouter articles</h1>

        <div class="row">
            <div class="col-md-8 mx-auto">
                <form method="post">
                    {% for categorie in category %}
                    {{ form.input('titre', 'Titre de la catégorie', name, {class: 'col-md-6', type: 'text'}) }}
                    {{ form.button('Sauvegarder', {class: 'col-md', type: 'submit'})}}
                    {% endfor %}
                </form>

            </div>
        </div>


    {% endblock %}
{% endblock body %}