{% extends '/with-sidebar.html.twig' %}
{% import '/form.html.twig' as form %}

{% block head %}

    <title>Login</title>
{% endblock %}


{% block main %}
    <div class="container-fluid">
        <h1> {{ current_page }} </h1>

        <div class="row">

            {% for form in forms %}
                {% if errors %}
                <div class="alert alert-danger">
                    Identifiants incorrects
                </div>
                {% endif %}
                <div class="col-md-8">
                    <div class="form-group">
                 {#      <label>Login: <input name="username" type="text"></label>
                       <label>Mot de passe: <input name="password" type="password"></label>
                        <button class="btn btn-primary" type="submit">Envoyer</button>#}
                        {{ form.input('username', 'Login', name, {class: 'col-md-6'}) }}
                        {{ form.input('password', 'Mot de passe', password, {class: 'col-md-6', type: 'password' }) }}
                        {{ form.button('Envoyer', {class: 'col-md'}) }}
                    </div>
                </div>
{% endfor %}




        </div>
    </div>

{% endblock %}
